<?php include_once 'Layout/header.html'; ?>

<h1>template -- ./views/posts.php</h1>
<hr>
<h2>Post::findByIdAndUpdate(1)</h2>

<span>ID: <?php echo $params['updatedPost']['id']; ?></span>
<h3><?php echo $params['updatedPost']['title']; ?></h3>
<span><?php echo $params['updatedPost']['author']; ?></span>
<p><?php echo $params['updatedPost']['content']; ?></p>

<hr>

<h2>Post::findAll()</h2>
<?php foreach($params['posts'] as $post): ?>
    <span>ID: <?php echo $post['id']; ?></span>
    <h3><?php echo $post['title']; ?></h3>
    <span><?php echo $post['author']; ?></span>
    <p><?php echo $post['content']; ?></p>
<?php endforeach; ?>

<hr>

<h2>Post::findById(1)</h2>
<?php foreach($params['post'] as $post) : ?>
    <span>ID: <?php echo $post['id']; ?></span>
    <h3><?php echo $post['title']; ?></h3>
    <span><?php echo $post['author']; ?></span>
    <p><?php echo $post['content']; ?></p>
<?php endforeach; ?>

<hr>

<h2>$params</h2>
<pre>
    <?php print_r($params); ?>
</pre>

<?php include_once 'Layout/footer.html'; ?>