<?php include_once 'header.html'; ?>



<?php if ($params['req']->isAuthed): ?>
<h1>admin</h1>
<h2>@<?php echo $params['user']['username']; ?><a class="button" style="float: right;" href="/auth/logout" title="auth/logout">auth/logout</a></h2>
<article>
    <p>
        Welcome back <?php echo $params['user']['first_name'] ?>  <?php echo $params['user']['last_name']; ?>!
    </p>
</article>
<hr>
<h2>new Post($params)</h2>
<article>
    <form method="POST" action="/posts">
        <input type="text" name="title" placeholder="Enter a title" />
        <select name="category_id">
            <?php foreach($params['categories'] as $category): ?>
            <option value="<?php echo $category['id'] ?>">
                <?php echo $category['name'] ?>
            </option>
            <?php endforeach; ?>
        </select>
        <textarea type="text" name="content" placeholder="Add some content"></textarea>
        <div class="tags-holder">
        <?php foreach($tags as $tag): ?>
            <span>
                <input class="tag" type="checkbox" id="<?php echo $tag['id']; ?>" name=<?php echo "tag[" . $tag['id'] . "]"; ?> value="<?php echo $tag['id']; ?>" />
                <label for="<?php echo $tag['id']; ?>" class="tag"><?php echo $tag['name']; ?></label>
            </span>
        <?php endforeach; ?>
        </div>
        <button type="submit">Add post</button>
    </form>
</article>
<?php else: ?>
    <h1>auth</h1>
    <h2>User::find($params)</h2>
    <article>
        <form method="POST" action="">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Sign in</button>
        </form>
    </article>
    <?php endif; ?>
<hr>

<h2>$params</h2>
<article>
<pre>
<?php print_r($params); ?>
</pre>
</article>

<?php include_once 'footer.html'; ?>
