<?php include_once 'header.html'; ?>

<h1>posts/:categoryID</h1>

<h2 id="findAll"><?php echo strtolower($params['posts'][0]['category']); ?></h2>
<section class="posts">
<?php foreach($params['posts'] as $post): ?>
    <article data-id="<?php echo $post['id']; ?>">
        <h3><?php echo $post['title']; ?></h3>
        <span><strong>Category:</strong> <i><?php echo $post['category']; ?></i></span>
        <p><?php echo $post['content']; ?></p>
    </article>
<?php endforeach; ?>
</section>

<h2>$params</h2>
<article>
<pre>
<?php print_r($params); ?>
</pre>
</article>

<?php include_once 'footer.html'; ?>