<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>05-dynamisk-webbplats-php</title>

    <link rel="stylesheet" href="/static/templates/index.css">

</head>
<body>

<div id="wrapper">

    <header>
        <h2>header.html</h2>
        <nav>
            <ul>
                <li>
                    <a href="/" data-req-method="GET" title="start">start</a>
                </li>
                <li>
                    <a href="/posts" data-req-method="GET" title="posts">posts</a>
                </li>
                <li>
                    <a href="/posts/1" data-req-method="GET" title="posts:id">posts/:id</a>
                </li>
                <li>
                    <a href="/auth" data-req-method="GET" title="auth">auth</a>
                </li>
            </ul>
        </nav>
    </header>