<?php include_once 'header.html'; ?>

<h1>templates -- post/:id.html</h1>

<h2 id="findById">Post::findOneById(<?php echo $params['post']['id']; ?>)</h2>
<article data-id="<?php echo $params['post']['id']; ?>">
    <h3><?php echo $params['post']['title']; ?></h3>
    <!-- <span><?php echo $params['post']['author']; ?></span> -->
    <p><?php echo $params['post']['content']; ?></p>
</article>
<hr>

<h2>$params</h2>
<article>
<pre>
<?php print_r($params); ?>
</pre>
</article>

<?php include_once 'footer.html'; ?>