<?php include_once 'header.html'; ?>

<h1>post/:id</h1>

<?php if (! $isAuthed): ?>
<h2 id="findById">Post::findOneById(<?php echo $post['id']; ?>)</h2>
<article data-id="<?php echo $post['id']; ?>">
    <h3>
        <a href="/post/<?php echo $post['id']; ?>">
            <?php echo $post['title']; ?>
        </a>
    </h3>
    <span>
        <strong>Categories:</strong> 
        <?php foreach($post['categories'] as $category): ?>
            <a class="category" href="<?php echo '/category/' . $category['id']; ?>" title="<?php echo $category['name'] ?>">
                <i><?php echo $category['name']; ?></i>
            </a>
        <?php endforeach; ?>
    </span>
    <p><?php echo $post['content']; ?></p>
    <span>
        <?php foreach($post['tags'] as $tag): ?>
        <a class="tag-link" href="<?php echo '/tag/' . $tag['id']; ?>" title="<?php echo $tag['name'] ?>">
            <span class="tag">
                <?php echo $tag['name']; ?>
            </span>
        </a>
        <?php endforeach; ?>
    </span>
</article>
<hr>
<?php else: ?>
<h2>Post::findByIdAndUpdate</h2>
<article>
    <form method="POST" action="" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_method" value="PUT" />
        <input type="text" name="title" value="<?php echo $post['title']; ?>" />
        <select name="category_id">
            <?php foreach($categories as $category): ?>

            <?php if($postCategory === $category['id']): ?>
                <option selected value="<?php echo $category['id'] ?>">
                    <?php echo $category['name'] ?>
                </option>
            <?php else: ?>
                <option value="<?php echo $category['id'] ?>">
                    <?php echo $category['name'] ?>
                </option>
            <?php endif; ?>

            <?php endforeach; ?>
        </select>
        <textarea type="text" name="content"><?php echo $post['content']; ?></textarea>
        <button type="submit">Update post</button>
    </form>
</article>
<?php endif; ?>

<h2>$params</h2>
<article>
<pre>
<?php print_r($params); ?>
</pre>
</article>

<?php include_once 'footer.html'; ?>